.btn-wrap {
    border: 1px solid #003480;
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 10px;
}

.btn-wrap.btn-success {
    background-color: green;
    color: white;
}

.btn-wrap.btn-error {
    background-color: red;
    color: white;
}

.btn-wrap.btn-warning {
    background-color: yellow;
}

.btn-wrap.btn-info {
    background-color: #0e58e0;
}


.btn-wrap:hover {
    color:orange;
    border-color: orange;
}

