.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.contact-header h3 {
    padding: 0;
    margin: 0;
}