.modal-wrap {
   width: 100vw;
   height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0000009F;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.modal-wrap .modal {
    max-width: 70vw;
    min-width: 400px; 
    background-color: blue;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.modal-wrap .modal header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.modal-wrap .modal header h3 {
    margin: 0;
    padding: 0;
}

.modal-wrap .modal .modal-wrap_content {
    
    max-height: 70vh;
    min-height: 100px;  
    padding: 10px;
    overflow:auto;

}


.modal-wrap .modal footer {
    text-align: right;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.modal-wrap .modal footer > * {
margin-left: 5px;
}