.addOrEdit-Wrap> div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.addOrEdit-Wrap label{
    display: inline-block;
    width: 90px;
    font-weight: 700;
    letter-spacing: 1px;
}