p {
    padding: 0;
    margin: 0;
}

.contact {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.contact.opened {
    padding: 5px 0;
    background-color: #00348066;
}

.contact:hover {
    background-color: #00348033;
}

.contact .contact-info {
    display: flex;
    align-items: center;
}

.contact .contact-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact .container-detail {
    padding: 0 10px;
}

.contact .container-detail .name {
    font-size: 1.3rem;
    font-weight: bold;
}