.nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav-wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-wrap li {
    font-size: 1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 10px;
}

.nav-wrap li:hover {
    color: orange;
    border-color: orange;
}


.nav-wrap li:not(:last-child) {
    margin-right: 10px;
}

